<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/main.css">
    <script type="text/javascript" src="/static/index/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/index/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>
        <ul class="article_list">
            {% for news in collection_news %}
                <li><a href="#">{{ news.title }}</a><span>{{ news.create_time }}</span></li>
            {% endfor %}
        </ul>



        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: 2,
                    totalPage: 3,
                    callback: function(current) {
                        alert('ok!');
                    }
                });
            });
        </script>

    </div>
</body>
</html>